<div *ngIf="authorButtonEvent" class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col alignButtons">
                    <button class="m-1 btn btn-light btn-outline-primary" (click)="exportConsultToExcel()" [disabled]="authors.length == 0">
                        <em class="fas fa-file-export"></em> Exportar</button>
                </div>
            </div>
            <div class="row" *ngIf="spinnerShow">
                <div class="col m-3 alignFields">
                    <div class="spinner-border" role="status"></div>
                </div>
            </div>
            <div class="row" *ngIf="!spinnerShow && authors.length == 0">
                <span>No se encontraron registros.</span>
            </div>
            <div class="row" *ngIf="authors.length > 0">
                <div class="col m-3">
                    <table class="table table-sm table-striped table-hover ml-1">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" (click)="sortByColumn('Id','number')"><em *ngIf="orderType > 0 && orderColumn == 'Id'" [ngClass]="orderType == 1 ? 'fas fa-arrow-up' : 'fas fa-arrow-down'"></em> Id</th>
                                <th scope="col" (click)="sortByColumn('IdBook','number')"><em *ngIf="orderType > 0 && orderColumn == 'IdBook'" [ngClass]="orderType == 1 ? 'fas fa-arrow-up' : 'fas fa-arrow-down'"></em> Id Boock</th>
                                <th scope="col"(click)="sortByColumn('FirstName','string')"><em *ngIf="orderType > 0 && orderColumn == 'FirstName'" [ngClass]="orderType == 1 ? 'fas fa-arrow-up' : 'fas fa-arrow-down'"></em> Nombre</th>
                                <th scope="col" (click)="sortByColumn('LastName','string')"><em *ngIf="orderType > 0 && orderColumn == 'LastName'" [ngClass]="orderType == 1 ? 'fas fa-arrow-up' : 'fas fa-arrow-down'"></em> Apellido</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let author of authors">
                                <td>{{author.Id}}</td>
                                <td>{{author.IdBook}}</td>
                                <td>{{author.FirstName}}</td>
                                <td>{{author.LastName}}</td>
                              </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
</div>
