<div *ngIf="bookFiltersButtonEvent">
    <div class="row">
        <div class="col">
            <br>
            <div class="card mb-1" style="width: 100%">
                <div class="card-header py-0 px-2">
                    <h5 class="card-title">
                        <span>Filtros de consulta</span>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label>Fecha Inicial</label>
                        </div>
                        <div class="col">
                            <label>Fecha Fina</label>
                        </div>
                        <div class="col">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown button
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
