<div *ngIf="bookFiltersButtonEvent">
  <div class="row">
    <div class="col">
      <br>
      <div class="card mb-1" style="width: 100%">
        <div class="card-header py-0 px-2">
          <h5 class="card-title">
            <span>Filtros de consulta</span>
          </h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-4">
                <label>Fecha Inicial</label>
                <date #startDate></date>
                <span class="m-1 message-error" *ngIf="startDateMessage && startDate.date == undefined">La Fecha de inicio es obligatoria.</span>
              </div>
              <div class="col-md-4">
                <label>Fecha Final</label>
                <date #endDate></date>
                <span class="m-1 message-error" *ngIf="endDateMessage && this.endDate.date == undefined">La Fecha fin es obligatoria.</span>
              </div>
              <div class="col-sm-2">
                <label>Autores</label>
                <br>
                <drop-down [data]="authors" [value]="'FirstName'" [placeHolder]="authorNameSelected"
                  (onChangeValue)="changeAuthor($event)"></drop-down>
              </div>
              <div class="col-md-2 positionButton">
                <button class="btn btn-light btn-outline-primary marginButtons" (click)="cleanFilters()">
                  <em class="fas fa-trash font-size-icons"></em> Limpiar</button>
                <button class="btn btn-primary" (click)="booksFiltersSearch()">
                  <em class="fas fa-search font-size-icons"></em> Buscar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="search">
    <div class="col m-3 alignLoadScreen">
      <div class="spinner-border" role="status"></div>
    </div>
  </div>
  <div class="row" *ngIf="books.length > 0">
    <div class="col m-3">
      <table class="table table-sm table-striped table-hover ml-1">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">N° Paginas</th>
            <th scope="col">Extracto</th>
            <th scope="col">Fecha Publicación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <td style="height:100px;width:10px">{{book.Id}}</td>
            <td style="height:100px;width:10px">{{book.Title}}</td>
            <td style="height:100px;width:100px">{{book.Description}}</td>
            <td style="height:100px;width:10px">{{book.PageCount}}</td>
            <td style="height:100px;width:100px">{{book.Excerpt}}</td>
            <td style="height:100px;width:50px">{{book.PublishDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>