.align-title {
    padding-left: 698px;
}

.fontFamily {
    font-family: fantasy;
}

.title {
    margin-left: 10px;
    font-size: 18px;
}

.boldItem {
    font-weight: bold;
}

.active {
    font-weight: bolder
}