<div class="row" style="background-color: #f4faff !important;">
    <div class="col-md-10">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink (click)="buttonClick('Authors')">Autores</a>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink (click)="buttonClick('Books')">Libros</a>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink (click)="buttonClick('BooksFilter')">Libros por autor</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2 alignFields">
        <button class="m-1 btn btn-primary" (click)="signOut()">
            <em class="fas fa-sign-out-alt"></em> Cerarr Sesión</button>
    </div>
</div>

<authors></authors>
<books></books>
<books-filters></books-filters>