<div class="row">
    <div class="col">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" style="background-color: #f4faff !important;">
            <li [ngbNavItem]="1">
                <a ngbNavLink (click)="buttonClick('Authors')">Autores</a>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink (click)="buttonClick('Books')">Libros</a>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink (click)="buttonClick('BooksFilter')">Libros por autor</a>
            </li>
        </ul>
    </div>
</div>

<authors></authors>
<books></books>
<books-filters></books-filters>